@{
    ViewBag.Title = "RecuperarAcceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">

                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Recuperacion de acceso</h3></div>
                            <div class="card-body">

                                <div class="small mb-3 text-muted">Por favor ingrese su correo electronónico y nosotros te enviaremos las instrucciones para recuperar su cuenta</div>

                                <form>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="email" placeholder="correo@example.com" />
                                        <label for="inputEmail">Correo electrónico</label>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="@Url.Action("Index","Home")">Regresar al inicio de sesión</a>
                                        <a class="btn btn-primary" href="@Url.Action("Index","Home")">Proceder</a>
                                    </div>
                                </form>


                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>




